.list-title ~ ul > li {
    color: #FFF;
    margin-left: 10px!important;
    margin-bottom: .3em;
}

.list-title ~ ul {
    list-style-image: url("../img/check_16.png");
}

.list-title {
    margin-bottom: 0!important;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10vh;
}

.mywork {
    max-width: 70%!important;
}

.list-subtitle {
    color: #FFF;
    font-weight: bold;
    margin-bottom: 3vh!important;
    font-size: .8em;
}

.custom_navbar {
    width: 100vw;
    position: fixed;
    display: flex;
    background-color: dodgerblue;
    height: 5vh;
    z-index: 999;
    padding: 0 3vw;
}

.custom_navbar > div {
    width: 100vw;
    display: flex;
    justify-content: end;
}

.custom_navbar > div > p > a {
    color: #FFF;
    margin-right: 2ch;
}

@media only screen and (min-width: 601px) and (max-width: 1000px){
    .mywork {
        padding-top: 75vh!important;
    }
}

@media only screen and (max-width: 600px) {
    .meditation-section {
        padding-top: 200vh!important;
    }
}

@media only screen and (max-width: 768px) {
    .site-logo {
        display: none;
    }
}

@media only screen and (max-width: 575px) {
    .list-title ~ ul > li {
        margin-left: 25px!important;
    }
}


